$PrimaryColor: #FFFFFF;
$secondaryColor: #1F2128;
$terColor:#72767C;
$quatColor: #A162F7;


.sell-car-container{
    background-color: $PrimaryColor;
    padding: 1.75rem 2.6875rem;
    border-radius: .875rem;

    .car-name{
        font-weight: 500;
        font-size: 1.875rem;
        line-height: 2.4375rem;
        color: $secondaryColor;
    }

    .car-img-container{
        .car-img{
            width: 34.0625rem;
            height: 18.75rem;
        }
    }
    
    @media (max-width: "1100px"){
        .car-img-container{
            .car-img{
                width: 18.75rem;
                height: 12.5rem;
            }
        }
    }
}